@import './fonts.scss';

html,
body {
    padding: 0 0;
    margin: 0 0;
    width: 100%;
    height: 100%;
    font-family: 'regular';

    [id="__next"] {
        width: 100%;
        height: 100%;

        main {
            width: 100%;
            height: 100%;
        }
    }
}

p {
    font-size: 14px;
}

.responsive-img {
    max-width: 100%;
    height: auto;

    &.center {
        display: block;
        margin: auto;
    }

    .fullwidth {
        width: 100%;
    }
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-error {
    color: red;
    font-size: 20px;
}

.forgot-text {
    margin-bottom: 15px;
}

.login-wrapper {
    display: flex;
    height: inherit;

    &>div {
        width: 50%;
        position: relative;

        &>img {
            width: 100%;
            height: 100%;
            min-height: 100%;
        }
    }
}

.login-wrapper {
    .banner-carousel {
        height: 100%;

        .carousel {
            height: inherit;

            &.carousel-slider {
                height: inherit;

                &>.slider-wrapper {
                    height: inherit;

                    &>.slider {
                        height: inherit;

                        &>.slide {
                            height: inherit;

                            &>.content {
                                height: inherit;
                                position: relative;

                                &>img {
                                    height: inherit;
                                }

                                .text-part {

                                    position: absolute;
                                    top: 25%;
                                    left: 12%;
                                    line-height: 34px;
                                    color: #fff;

                                    & * {
                                        margin: 0 0;
                                    }



                                    color: #fff;

                                    p {
                                        font-family: 'regular';
                                        font-size: 25px;
                                        text-align: left;
                                    }

                                    h2 {
                                        text-transform: uppercase;
                                        font-family: 'extra-bold';
                                        text-align: left;
                                        font-size: 50px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .control-dots {
                .dot {
                    background-color: #fff;
                    opacity: 1;

                    &.selected {
                        width: 20px;
                        background-color: #18bdce;
                        border-radius: 20px;
                    }
                }
            }
        }
    }

    .login-form-wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);



    }
}

.ice-btn {
    background-color: #18bdce !important;
    text-transform: none !important;
    font-family: "regular" !important;
    height: 50px;

    &:hover {
        background-color: #18bdce !important;
        opacity: 0.8 !important;
    }
}

.register-form {
    width: 500px;

    .ice-btn {
        margin-top: 15px;
    }
}

.view-more {
    cursor: pointer;
    color: #18bdce;
    font-family: "medium";
    font-size: 12px;
    text-decoration: underline;
    margin: 15px 0 0 0;
}

.feed-wrapper,
.create-task-wrapper, .detail-task-wrapper {
    background-color: #f0f2f5;
    min-height: calc(100% - 77px);
    padding-top: 20px;
    background-image: url(/_next/static/media/bg.f0cd3b39.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    margin-top: 77px;
}

.detail-task-wrapper {
    margin-top: 0;
}

.feed-center-section {

    padding: 0 20px;

    .announcement-banner-wrapper {
        margin-bottom: 20px;

        .content {
            position: relative;

            img {
                border-radius: 10px;
            }

            .text-part {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                color: #ffff;

                p {
                    margin: 0;
                }
            }
        }

        .carousel .control-dots {
            bottom: 2px;
        }

        .carousel .control-dots .dot {
            opacity: 1;
        }

        .carousel .control-dots .dot.selected {
            opacity: 1;
            filter: alpha(opacity=100);
            width: 20px;
            background-color: #18bdce;
            border-radius: 20px;
        }
    }
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    width: 33.33%;
    background: rgba(153, 153, 153, 0.1);
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-transform: capitalize;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #000;
    background: #fff;
    box-shadow: 1px 1px 1px rgba(153, 153, 153, 0.5);
}

.css-13xfq8m-MuiTabPanel-root {
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.css-1aquho2-MuiTabs-indicator {
    background-color: transparent;
}

.task-content {

    .header {
        margin-bottom: 15px;

        ul {
            list-style: none;
            padding: 0 0;
            margin: 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                list-style: none;
                color: #808080;
                font-size: 12px;

                &:first-child {
                    width: calc(100% - 166px);
                }

                &:nth-child(2) {
                    width: 66px;
                }

                &:last-child {
                    width: 100px;
                    text-align: right;
                }
            }
        }

        border-bottom: 1px solid rgb(153, 153, 153);
        padding-bottom: 10px;
    }

    .body {

        ul {
            list-style: none;
            padding: 0 0;
            margin: 0 0;

            &>li {
                cursor: pointer;
                margin-bottom: 15px;

                display: flex;
                align-items: center;
                justify-content: space-between;

                &.disabled {
                    opacity: 0.6;
                    cursor: auto;
                }

                &>div {
                    &:first-child {

                        width: calc(100% - 166px);
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;

                        &>div {
                            &:first-child {
                                background-color: #f0f2f5;
                                border-radius: 50px;
                                width: 40px;
                                height: 40px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-right: 10px;

                                &>img {
                                    width: 25px;
                                }
                            }

                            &:last-child {
                                strong {
                                    font-family: "medium";
                                    font-size: 14px;
                                }

                                p {
                                    font-family: "regular";
                                    margin: 0;
                                    color: #808080;
                                    font-size: 12px;
                                }
                            }
                        }
                    }

                    &:nth-child(2) {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: calc(100% - 70px);
                        width: 66px;

                        p {
                            font-family: "regular";
                            margin: 0;
                            color: #808080;
                            font-size: 12px;
                        }
                    }

                    &:last-child {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        width: 30px;
                        width: 100px;
                    }
                }
            }
        }
    }
}

.flex-h-end {
    justify-content: flex-end !important;
}

[contenteditable]:focus {
    outline: 1px solid rgba(30, 121, 190, 0.2);
}

.case-study-task-wrapper {
    background-color: transparent;
    padding: 30px 0;

    #content {
        max-width: 700px;
        min-width: 700px;
        margin: auto auto;
        border: 1px solid rgba(0, 0, 0, 0.1);

        background-color: rgba(128, 128, 128, 0.1);
        border-radius: 5px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);

        h1,
        .h1 {
            font-family: 'arial';
            color: #fff;
            font-size: 30px;
            margin: 0 0;
            padding: 30px 20px;
            text-align: center;
            font-weight: 600;
            background-color: #243468;
            font-size: 40px;
            font-weight: 900;
            width: 100%;
            box-sizing: border-box;
            outline: 0;
        }

        .banner-image-wrapper {
            table {
                width: 100%;
                border: 0;
                border-collapse: collapse;

                td {
                    font-family: 'arial';
                    vertical-align: top;
                    text-align: right;
                    width: 100%;
                    padding: 20px 0 0 22px;
                }
            }
        }

        .diagnosis-wrapper {
            padding: 0 20px;
            margin-top: 20px;

            table {
                width: 100%;
                border: 0;
                border-collapse: collapse;

                tbody {
                    tr {
                        td {
                            &:first-child {
                                vertical-align: top;
                                padding-top: 15px;
                                width: 13px;
                                height: 12px;

                                img {
                                    max-width: fit-content;
                                }
                            }


                            &:last-child {
                                h3 {
                                    font-family: 'arial';
                                    color: #1e79be;
                                    margin-top: 12px;
                                    font-size: 22px;
                                    margin-bottom: 5px;
                                    display: flex;
                                    display: -webkit-flex;
                                    align-items: center;

                                    &>span {
                                        &:first-child {
                                            width: 105px;
                                        }

                                        &:last-child {
                                            width: calc(100% - 110px);
                                            background-color: rgba(30, 121, 190, 0.2);
                                            height: 2px;
                                            margin-left: 5px;
                                        }
                                    }
                                }

                                textarea,
                                #diagnosis,
                                #treatment {
                                    font-family: "arial";
                                    color: rgba(128, 128, 128, 0.8);
                                    font-size: 14px;
                                    margin: 0 0;
                                    width: 100%;
                                    border: 0;
                                    outline: 0;
                                    scrollbar-color: transparent transparent;
                                    line-height: 25px;

                                    &::-webkit-scrollbar {
                                        background-color: transparent;
                                    }
                                }

                                #diagnosis,
                                #treatment {
                                    min-height: 150px;
                                    background-color: transparent;
                                }
                            }
                        }

                        &:last-child {
                            td {
                                &:last-child {
                                    h3 {
                                        &>span {

                                            &:first-child {
                                                width: auto;
                                            }

                                            &:last-child {
                                                width: 26%;
                                                background-color: rgba(30, 121, 190, 0.2);
                                                height: 2px;
                                                margin-left: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .percentage-wrapper {
            padding: 30px 70px 30px 70px;

            table {
                width: 100%;
                border: 0;
                border-collapse: collapse;

                td {
                    padding: 0 0;

                    div {
                        text-align: center;
                        padding: 0 0;
                        border-radius: 10px;
                        border: 2px solid #1e79be;
                        margin-right: 10px;

                        h3 {
                            font-family: 'arial';
                            color: #2d3482;
                            margin-top: 20px;
                            margin-bottom: 5px;
                            font-size: 15px;
                            margin-top: 0;
                            padding: 15px 15px 0 15px;
                            margin: 0;
                        }

                        span,
                        #elongated,
                        #intake {
                            display: inline-block;
                            width: 100px;
                            height: 100px;
                            font-size: 80px;
                            font-family: "arial";
                            color: #2d3482;
                            font-weight: bold;
                            outline: 0;
                            border: 0;
                            overflow: hidden;
                            text-align: center;
                            background-color: transparent;
                        }
                    }
                }
            }
        }

        .footer {
            padding: 20px 70px;
            background-color: #ededed;

            table {
                width: 100%;
                border: 0;
                border-collapse: collapse;

                td {
                    width: 50%;
                    vertical-align: top;

                    &:first-child {
                        div {
                            font-size: 14px;
                            font-family: 'arial';
                            width: 182px;

                            div {
                                &:first-child {
                                    display: flex;
                                    display: -webkit-flex;
                                    align-items: center;

                                    span {
                                        &:first-child {}

                                        &:last-child {
                                            width: calc(100% - 5px);
                                            min-height: 1px;
                                            background-color: #000;
                                            margin-left: 5px;
                                        }
                                    }
                                }

                                &:last-child {
                                    width: 100%;
                                    min-height: 1px;
                                    background-color: #000;
                                    margin-top: 8px;
                                }
                            }

                            b {
                                font-size: 16px;
                            }
                        }
                    }

                    &:last-child {
                        width: 50%;
                        text-align: right;
                    }
                }
            }
        }
    }

    .btn-wrapper {
        max-width: 700px;
        min-width: 700px;
        margin: auto auto;
        text-align: center;
        padding: 15px 0;

        button {
            width: 200px;
        }
    }
}

.blog-task-wrapper {
    background-color: transparent;
    padding: 30px 0;
    border-radius: 4px;

    .blog-theme-wrapper {
        min-width: 700px;
        max-width: 700px;
        margin: auto auto;

        ul {
            list-style: none;
            padding: 0 0;
            margin: 0 0 20px 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &>li {
                width: 150px;
                cursor: pointer;
                margin-right: 15px;

                img {
                    border-radius: 10px;
                }
            }
        }
    }

    #content {
        min-width: 700px;
        max-width: 700px;
        margin: auto auto;
        min-height: 700px;
        width: 100%;
        border-radius: 10px;
        background-color: rgba(128, 128, 128, 0.1);
        border-radius: 5px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);

        .h1 {
            font-family: "arial";
            margin: 0 0;
            padding: 30px 20px;
            text-align: left;
            font-size: 40px;
            font-weight: 200;
            width: 100%;
            box-sizing: border-box;
            outline: 0;
            border: 0;
            background: transparent;
        }

        #blogParagraph {
            font-family: "arial";
            font-size: 14px;
            margin: 0 0;
            width: 100%;
            border: 0;
            outline: 0;
            scrollbar-color: transparent transparent;
            line-height: 25px;
            padding: 0 30px 20px 20px;
            box-sizing: border-box;
            background: transparent;
            min-height: 600px;
        }

        &.white-theme {
            background-image: url('../../public/images/blog/1.jpg');
            background-size: cover;
            background-position: center;

            .h1 {
                color: #000;
            }

            #paragraph {
                color: #000;
            }
        }


        &.black-theme {
            background-image: url('../../public/images/blog/2.jpg');
            background-size: cover;
            background-position: center;

            .h1 {
                color: #fff;
            }

            #blogParagraph {
                color: #fff;
            }
        }

        &.pink-theme {
            background-image: url('../../public/images/blog/3.jpg');
            background-size: cover;
            background-position: center;

            .h1 {
                color: #000;
            }

            #blogParagraph {
                color: #000;
            }
        }


    }

    .btn-wrapper {
        max-width: 700px;
        min-width: 700px;
        margin: auto auto;
        text-align: center;
        padding: 15px 0;

        button {
            width: 200px;
        }
    }

}

.error-text {
    color: #d32f2f;
}

.error-label {
    color: #d32f2f;
}

.registration-success, .admin-success {
    margin-top: 20px;
    padding-left: 15px;
    width: 100%;
}

.admin-success {
    padding-left: 0;
    width: 400px;
}



.loader-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointer {
    cursor: pointer !important;
}

.video-task-main-wrapper {

        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);

    .video-task-wrapper {
        background: transparent;
        padding: 20px;
        border-radius: 20px;
        max-width: 700px;
        margin: auto;
        box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.5);
        width: 500px;
    
        .detail-task-wrapper {
            position: relative;
            width: 100%;
            // padding-top: 56.25%;
            padding-top: 60%;
            height: 50px;
    
            h1 {
                position: absolute;
                top: 0;
                margin-bottom: 0;
                padding-bottom: 0;
                border: 0;
            }
    
            video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    
        h1 {
            font-family: 'semi-bold';
            margin: 0;
            font-size: 25px;
            border-bottom: 1px solid rgba(153, 153, 153, 0.8);
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    
        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: auto;
            cursor: pointer;
        }
    
        input[type="file"] {
            opacity: 0;
        }
    
        .btn-wrapper {
            text-align: right;
        }
    }

    .success-message-admin-wrapper {
        .admin-success {
            width: 100%;
        }
    }

}



.feed-video-wrapper {
    video {
        width: 100%;
        height: auto;
    }
}

.detail-case-study-wrapper {

    h2 {
        font-family: "arial";
        color: #fff;
        margin: 0 0;
        padding: 15px 15px;
        text-align: left;
        background-color: #243468;
        font-size: 20px;
        font-weight: 900;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 15px;
    }

    .feed-cs-img-wrapper {}
}

.feed-container {

    #left,
    #right {
        position: sticky;
        position: -webkit-sticky;
        top: 100px;
    }
}

#feed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.detail-blog-wrapper {

    .blogParagraph {
        font-family: "arial";
        font-size: 14px;
        margin: 0 0;
        width: 100%;
        border: 0;
        outline: 0;
        scrollbar-color: transparent transparent;
        line-height: 25px;
        padding: 0 30px 20px 20px;
        box-sizing: border-box;
        background: transparent;
    }

    .h2 {
        padding: 15px 15px 10px 15px;
        margin: 0 0;
        font-family: "arial";
        text-align: left;
        font-weight: 200;
        box-sizing: border-box;

        font-size: 20px;
        font-weight: 900;
        width: 100%;
        box-sizing: border-box;
    }

    &.white-theme {
        background-image: url('../../public/images/blog/1.jpg');
        background-size: cover;
        background-position: center;

        .h2 {
            color: #000;
        }

        .paragraph {
            color: #000;
        }
    }


    &.black-theme {
        background-image: url('../../public/images/blog/2.jpg');
        background-size: cover;
        background-position: center;

        .h2 {
            color: #fff;
        }

        .blogParagraph {
            color: #fff;
        }
    }

    &.pink-theme {
        background-image: url('../../public/images/blog/3.jpg');
        background-size: cover;
        background-position: center;

        .h2 {
            color: #000;
        }

        .blogParagraph {
            color: #000;
        }
    }
}

.video-title {
    padding: 15px 0 0 0;
    margin: 0 0;
    font-family: "arial";
    text-align: left;
    font-weight: 200;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 900;
}

.flex {
    display: flex !important;
}

.copyright {
    font-size: 10px;
    color: #666;
    text-align: center;
    margin-top: 20px;
}

.mt-15 {
    margin-top: 15px;
}

.right {
    text-align: right;
}

.blog-admin-approved-reject-wrapper {
    max-width: 700px;
    margin: auto;
    text-align: right;
    padding: 0;
    width: 700px;

    button {
        &:first-child {
            margin-right: 15px;
        }
    }
}

.admin-create-btn-wrapper {
    display: flex;
    justify-content: space-between;
    background: rgba(128, 128, 128, 0.1);
    padding: 15px 15px;
    align-items: center;

    .left-content {
        h2 {
            margin: 0 0;
        }
    }

    .right-content {}
}


.basic-breadcrumbs-wrapper {
    background-color: rgba(128, 128, 128, 0.1);
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.success-message-admin-wrapper {
    display: flex;
    justify-content: flex-end;
}